@use './app/styles/theme-colors';
@use './app/styles/tokens.scss';
@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-grid';
@use 'bootstrap/scss/bootstrap-utilities';
@use '@angular/material' as mat;

html,
body {
  height: 100%;

  .notification-success {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-primary),
      )
    );
  }

  .notification-warning {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-primary),
        container-color: var(--mat-sys-surface),
        supporting-text-color: var(--mat-sys-on-surface),
      )
    );
  }

  .notification-error {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-error),
      )
    );
  }
}

body {
  margin: 0;
  font: var(--mat-sys-body-medium);
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
