@use './styles/material-theme';
@use './app/styles/tokens.scss';
@use '@angular/material' as mat;

html,
body {
  height: 100%;

  .notificacao-sucesso {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-primary),
      )
    );
  }

  .notificacao-aviso {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-primary),
        container-color: var(--mat-sys-surface),
        supporting-text-color: var(--mat-sys-on-surface),
      )
    );
  }

  .notificacao-erro {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-error),
      )
    );
  }
}

body {
  margin: 0;
  font: var(--mat-sys-body-medium);
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
