<div class="dashboard-grid">
  <mat-card class="dashboard-card" *transloco="let t; prefix: 'home.dashboards.quickActions'">
    <mat-card-header>
      <mat-card-title>{{ t('title') }}</mat-card-title>
      <mat-card-subtitle>{{ t('subtitle') }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="quick-actions">
      <button mat-stroked-button color="primary" [routerLink]="['/activities', 'register']">
        <mat-icon>add_circle_outline</mat-icon>
        {{ t('content.buttons.activity') }}
      </button>
      <button mat-stroked-button [routerLink]="['/patients', 'register']">
        <mat-icon>person_add</mat-icon>
        {{ t('content.buttons.patient') }}
      </button>
      <button mat-stroked-button [routerLink]="['/doctors', 'register']">
        <mat-icon>medical_services</mat-icon>
        {{ t('content.buttons.doctor') }}
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" *transloco="let t; prefix: 'home.dashboards.upcomingActivities'">
    <mat-card-header>
      <mat-card-title>{{ t('title') }}</mat-card-title>
      <mat-card-subtitle>{{ t('subtitle') }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        @for (item of upcomingActivities$ | async; track item.id) {
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <div matListItemTitle>
              {{
                t('content.itemTitle', {
                  activity: item.tipoAtividade,
                  doctorsQuantity: item.medicos.length,
                })
              }}
            </div>
            <div matListItemLine>
              {{
                t('content.itemLine', {
                  patient: item.paciente.nome,
                  start: item.inicio | date: 'dd/MM/yyyy HH:mm',
                })
              }}
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
        <mat-list-item class="view-all-link" routerLink="/activities" matRipple>
          {{ t('content.viewAllLink') }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" *transloco="let t; prefix: 'home.dashboards.top10Doctors'">
    <mat-card-header>
      <mat-card-title>{{ t('title') }}</mat-card-title>
      <mat-card-subtitle>{{ t('subtitle') }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        @for (item of top10Doctors$ | async; track item.medicoId) {
          <mat-list-item role="listitem">
            <div matListItemTitle>
              {{
                t('content.itemTitle', {
                  doctor: item.medico | titlecase,
                })
              }}
            </div>
            <div matListItemLine>
              {{
                t('content.itemLine', {
                  totalHoursWorked: item.totalDeHorasTrabalhadas,
                })
              }}
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
        <mat-list-item class="view-all-link" routerLink="/doctors" matRipple>
          {{ t('content.viewAllLink') }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
