<section class="register-section">
  <div class="main-content">
    <h2>Edit Patient</h2>
    <hr />
    <mat-card class="card">
      @if (patient$ | async) {
        <form [formGroup]="formGroup" (ngSubmit)="edit()">
          <mat-card-header>
            <mat-card-title>Edit patient information</mat-card-title>
          </mat-card-header>

          <mat-card-content class="card-content">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Name</mat-label>
              <input matInput formControlName="nome" type="text" />
              @if (nome?.errors?.['required']) {
                <mat-error>Name is required.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" type="text" />
              @if (cpf?.errors?.['required']) {
                <mat-error>CPF is required.</mat-error>
              }
              @if (cpf?.errors?.['pattern']) {
                <mat-error>CPF must be in the format 000.000.000-00.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" />
              @if (email?.errors?.['required']) {
                <mat-error>Email is required.</mat-error>
              }
              @if (email?.errors?.['email']) {
                <mat-error>Must be a valid email address.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="telefone" type="tel" />
              @if (telefone?.errors?.['required']) {
                <mat-error>Phone is required.</mat-error>
              }
              @if (telefone?.errors?.['pattern']) {
                <mat-error>Phone must be in the format (00) 00000-0000.</mat-error>
              }
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="end">
            <a mat-stroked-button routerLink="/patients">Cancel</a>
            <button mat-flat-button class="button" type="submit" [disabled]="formGroup.invalid">
              <mat-icon>check</mat-icon>
              Confirm
            </button>
          </mat-card-actions>
        </form>
      }
    </mat-card>
  </div>
</section>
